{% extends 'base.html' %}

{% from 'macros/render_form_field.html' import render_form_field %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
        {{ render_form_field(form.title) }}
        {{ render_form_field(form.description) }}
        {{ render_form_field(form.release_date) }}
        {{ render_form_field(form.platforms) }}
        {{ render_form_field(form.genres)}}
        {{ render_form_field(form.image) }}
        <div class="form-text">Поддерживаются JPG, JPEG, PNG, GIF. Максимальный размер 5 МБ.</div>
        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}