venv
**/__pychache__/
*.pyc
app/.env
app/static/uploads
!app/static/uploads/defaults
app/__pychache__
__pycache__/
*.py[cod]
*$py.class
.env
app/migrations/
migrations/

app/static/upload/avatars/*
!app/static/upload/avatars/defaultavatar.jpg

app/static/upload/covers/*
!app/static/upload/covers/defaultcover.jpg