{% extends 'base.html' %}

{% from 'macros/render_form_field.html' import render_form_field %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_form_field(form.oldpass) }}
        {{ render_form_field(form.newpass) }}
        {{ render_form_field(form.newpass2) }}
        <div class="btn btn-primary"> {{ form.submit }} </div>
    </form>
        <div class="card-footer">
            <a href="{{ url_for('user.profile', user_id=current_user.id) }}" class="btn btn-secondary">Назад в профиль</a>
        </div>
{% endblock %}