{% extends 'base.html' %}
{% from 'macros/render_form_field.html' import render_form_field %}
{% block content %}
    {% if user.banned%}
        <h2 class="ban-label">Этот аккаунт заблокирован!!!</h2>
    {% endif %}
    <div class="userprofiledata">
       
        <table class="tableforentity" border="2" caption="Данные {{user.login}} ({{user.nickname}})" rules="cols">
            <thead>
                <th>Поле</th>
                <th>Значение</th>
            </thead>
            <tbody>
                {% if selfprofile or adminMode %}
                    <tr>
                        <td>Логин</td>
                        <td>{{user.login}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Отображаемое имя</td>
                    <td>{{user.nickname}}</td>
                </tr>
                <tr>
                    <td>Роль</td>
                    <td>{{user.role.name}}</td>
                </tr>
                <tr>
                    <td>Дата регистрации</td>
                    <td>{{user.created_at}}</td>
                </tr>
            </tbody>
        </table>
        <div class="userprofileavatar">
            <img src="{{user.avatar_uri}}" alt="аватарка">
            {% if selfprofile %} 
                <a href="{{url_for('user.change_avatar', user_id=user.id)}}">Сменить фото</a>
            {% endif %}
        </div>
    </div>
    {% if adminMode %}
        <form method="POST" action="{{url_for('user.toggle_ban', user_id=user.id)}}" style="display: inline;">
            {{ form.hidden_tag() }}
            {{ form.action }}
            {{ form.submit }}
        </form>
    {% endif %}
    <p><a href="{{url_for('user.personal_tierlist', user_id=user.id)}}">Моя таблица оценок</a></p>
    {% if selfprofile %} 
        <p><a href="{{url_for('user.change_password', user_id=user.id)}}">Сменить пароль</a></p>
    {% endif %}
    
{% endblock %}